body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,hr,thead,tbody,tfoot,th,td,iframe {margin:0;padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none;}
a{outline:noneï¼›-webkit-tap-highlight-color: rgba(0,0,0,0);}
html{-ms-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;}
body{line-height:1.5; font-size:14px;}
body,button,input,select,textarea{font-family:'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;}
b,strong{font-weight:bold;}
i,em{font-style:normal;}
table{border-collapse:collapse;border-spacing:0;}
table th,table td{border:1px solid #ddd;padding:5px;}
table th{font-weight:inherit;border-bottom-width:2px;border-bottom-color:#ccc;}
img{border:0 none;width:auto\9;max-width:100%;vertical-align:top; height:auto;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;vertical-align:baseline;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input{border: none;}
select{border: none;}
option{border: none;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
input:focus{outline:none;}
select[size],select[multiple],select[size][multiple]{border:1px solid #AAA;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video,progress{display:inline-block;}
/*body{background:#fff;}*/
input::-webkit-input-speech-button {display: none}
button,input,textarea{
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
div,input,ul,li,span,form{box-sizing:border-box}

h1,h2,h3,h4,h5,h6{font-weight:normal}
.clear:after{content:'';display:block;clear:both;height:0;overflow:hidden;visibility:hidden;}.clear{zoom:1;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
color: #eaf0e1;font-size: 0.3rem;
}
input:-moz-placeholder, textarea:-moz-placeholder {
color:#eaf0e1;font-size: 0.3rem;
}
input::-moz-placeholder, textarea::-moz-placeholder {
color:#eaf0e1;font-size: 0.3rem;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
color:#eaf0e1;font-size: 0.3rem;
}
.fl{float: left;}
.fr{float: right;}
select{background:#F00
  
  
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;}
   